{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% block content %}
<div class="container">
	<div class="jumbotron mt-4 shadow-lg bg-info">
		<h3>Weclome to AboutPage</h3>
	</div>
</div>
<h3>Chinese Non-veg Items</h3>
<div class="container">
	<div class="row">
				<div class="col-md h =170">
					<img src ="{% static 'recipesimage.jpg' %}" height="250px" width="100%">
				</div>
	<table class="table table-borderless">
				<tr>
					<th>Items Available</th>
					<th>Noodles</th>
					<th>Fired rice</th>
					<th>Gobi</th>
					<th>Chicken FriedRice</th>
				</tr>
</div>	
{% endblock %}