{% extends 'app/base.html' %}
{% load static %}
{% block title %}Contact{% endblock %}
{% block content %}
<div class="container">
	<div class="jumbotron mt-4 shadow-lg bg-success">
		<h3>Weclome to ContactPage</h3>
	</div>
</div>
<h3>Contact Details</h3>
<div class="container">
	<img src ="{% static 'contactimage.jpg' %}" height="250px" width="100%">
	<div col="col">	
			<table class="table table-borderless">
				<tr>
					<th>Restaurant ContactDetails</th>
					<th>PhoneNo</th>
					<th>Order Items</th>
				</tr>
	
</div>		
{% endblock %}