{% extends 'app/base.html' %}
{% block title %}Role Request{% endblock %}
{% block content %}
<div class="container mt-4">
	<div class="card col-md-6 mx-auto shadow-lg">
		<div class="card-body">
			<h3>Grant Premission</h3>
			<form method="post">
				{% csrf_token %}
				<!-- <input type="text" name="uname" value="{{c.uname}}" class="form-control my-2 readonly"> -->
				{% for j in c %}
				<div>{{j}}</div>
				{% endfor %}
				<div class="row">
					<div class="col">
						<a href="{% url 'gvpm' %}" class="form-control btn btn-outline-secondary my-2">Back</a>
					</div>
					<div class="col">
						<input type="submit" value="Grant" class="btn btn-outline-success my-2 form-control">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>	
{% endblock %}