{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
	<div class="jumbotron mt-4 shadow-lg bg-warning">
		<h3>Weclome to HomePage</h3>
	</div>
</div>
<h2>Restaurant Items:</h2>
<div class="container">
	<h3>Carousel</h3>
</div>
<div class="col-md mx-2">
	<h3>Items List</h3>
</div>
</div>
		<div class="row mx-2">
			{% for x in c %}
			<div class="card col-md-4">
				<div class="card shadow-lg my-2">
					<img src="{{x.rsimg.url}}" class="card-img-top" height="120px">
					<div class="card-body">
						<tr>
							<td><span class="badge badge-info" style="font-size:25px">{{x.Rname}}</span><span style="font-size: 20px;float:right">{{x.address}}</span></td>
						</tr>
					</div>
					<div class="row">
						<div class="col">
							<h6>Items: {{x.Nitems}}</h6>
						</div>
						<div class="col">
							<h6>Timings: {{x.timings}}</h6>
						</div>
					</div>
			 	</div>
            </div>
			{% endfor %}
		</div>	
{% endblock %}