{% extends 'app/base.html' %}
{% block title %}Item Update{% endblock %}
{% block content %}
<div class="container mt-4">
	<div class="card col-md-6 mx-auto shadow-lg">
		<div class="card-body">
			<h3> Item Update</h3>
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{% for t in x %}
				    {{t}}
				{% endfor %}
				<div class="row">
					<div class="col">
						<a href="{% url 'itl' %}" class="btn btn-outline-primary form-control my-2">Back to List</a>
					</div>
					<div class="col">
						<input type="submit" Value="Update" class="btn btn-outline-success form-control my-2">
					</div>
				</div>    
			</form>
	</div>
</div>
{% endblock %}