{% extends 'app/base.html' %}
{% block title %}Items List{% endblock %}
{% block content %}
<div class="container mt-4">    
{% if messages %}
{% for m in messages %}
<div class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{m}}
</div>
{% endfor %}
{% endif %}
	<div class="row">
		<div class="card col col-md-4 mx-2 shadow-lg h-100">
			<div class="card-body">
			<h3 class="bg-info text-center text-light border rounded">Add Items</h3>
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{% for n in r %}
                {% if forloop.counter == 1 %}
                    <select class="form-control my-2" name="rsid">
                        {% for j in er %}
                        <option value="{{j.id}}">{{j}}</option>
                        {% endfor %}
                    </select>
                    {% elif forloop.counter >= 2 %}
                    <div>{{n}}</div>
                {% endif %}
                {% endfor %}
                <div class="row">
					<div class="col">
						<input type="reset" Value="Reset" class="btn btn-outline-info form-control my-2">
					</div>
					<div class="col">
						<input type="submit" Value="Create Item" class="btn btn-outline-success form-control my-2">
					</div>
				</div>
			</form>	
	    </div>
	</div>   
    <div class="card col col-md mx-2">
    	<div class="card-body">
    		<h3 class="bg-warning text-light text-center shadow-lg border rounded">List Of Items</h3>
    		<table class="table table-borderless table-hover">
    			<tr class="bg-dark text-light">
    				<th>Sno</th>
                    <th>Resturant Name</th>
    				<th>Item Name</th>
    				<th>Category</th>
    				<th>Price</th>
    				<th>Availability</th>
    				<th>Actions</th>
    			</tr>
    			{% for v in s %}
    			<tr>
    				<td>{{forloop.counter}}</td>
                    <td>{{v.6}}</td>
    				<td><a href="{% url 'ivw' v.5 %}"></a>{{v.0}}</td>
    				<td>
    					{% if v.1 == 'VG' %}
    					<span class="badge badge-success">Vegetarian</span>
    					{% else %}
    					<span class="badge badge-danger">Non-Vegetarian</span>
    					{% endif %}
    				</td>
    				<td>{{v.2}}</td>
    				<td>
    					{% if v.4 == 'AV' %}
    					<span class="badge badge-success">Available</span>
    					{% else %}
    					<span class="badge badge-danger">Not Available</span>
    					{% endif %}
    				</td>
    				<td><a href="{% url 'itp' v.5 %}" class="btn btn-outline-info form-control mx-2">Update</a><a href="{% url 'itd' v.5 %}" class="btn btn-outline-warning form-control mx-2">Delete</a></td>
    			</tr>
    			{% endfor %}
    		</table>
    	</div>
	</div>
</div>
{% endblock %}