{% extends 'app/base.html' %}
{% block title %}Restaurant List{% endblock %}
{% block content %}
<div class="container mt-4">
{% if messages %}
{% for m in messages %}
<div class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{m}}
</div>
{% endfor %}
{% endif %}
	<div class="row">
		<div class="card col-md-4 shadow-lg mx-2">
			<div class="card-body">
				<form method="post" enctype="multipart/from-data">
				{% csrf_token %}
				<h3 class="text-center text-light bg-secondary p-2 border rounded">Add Restaurant</h3>
				{% for j in q %}
				    {{j}}
				{% endfor %}
				<div class="col">
					<div class="row">
						<input type="reset" name="Reset" class="btn btn-outline-info form-control my-2">
					</div>
					<div class="col">
						<input type="submit" Value="Create" class="btn btn-outline-success form-control my-2">
					</div>
				</div>
			</form>
            </div>		
	</div>
	<div class="card col-md shadow-lg mx-2">
		<div class="card-body">
			<h3 class="text-light bg-primary p-2 border rounded">List of Restaurants</h3>
			<table class="table table-borderless">
				<tr class="bg-dark text-light">
					<th>S.no</th>
					<th>Resturant Name</th>
					<th>Number of Items</th>
					<th>Timings</th>
					<th>Operations</th>
				</tr>
				{% for k in a %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td><a href="{% url 'rsvw' k.id %}">{{k.Rname}}</a></td>
					<td>{{k.Nitems}}</td>
					<td>{{k.timings}}</td>
					<td><a href="{% url 'rsup' k.id %}" class=" btn btn-outline-warning mx-2">Update</a><a href="{% url 'rsd' k.id %}" class="btn btn-outline-danger mx-2">Delete</a></td>
				</tr>
				{% endfor %}
			</table>
			</div>		
		</div>
	</div>
</div>
{% endblock %}