<!DOCTYPE html>
<html>
<head>
	<title>Bootstrap Example</title>
	<meta charset="utf-8">
   <meta name="viewport" content="width=device-width,initial-scale=2">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/Bootstrap/4.5.2/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jqurey.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
</head>
<body style="background-color: blue">
	<div class="container bg-success">
     <h1>Weclome to Bootstrap, i am belongs to container class</h1>
 </div>
 <div class="container-fluid bg-primary">
 	<h2> i am example for container-fluid </h2>
 </div>
 <div class="jumbotron">
      <h2>i am belongs to jumbotron</h2>
 </div>
 <div class="alert alert-danger alert-dismissible">
 	<button type="button" class="close" data-dismiss="alert">&times;</button>
     <h3>hi i am belongs to alerts</h3>
 </div> 
     <h2 class="text-primary">hi all, weclome to django</h2>
     <h2 class="text-secondary">hi all, i am text-secondary</h2>
     <button type="button">Button</button>
     <button type="button" class="btn">Button</button> 
     <input type="submit" name="submit" class="btn btn-info" value="Submit">
     <input type="button" name="button" value="button" class="btn btn-dark">      	
</body>
</html>